# IMDB Data Project
Craig Gossen

**This project is to analyze what makes a movie successful and provide recommendations to the stakeholder on how to make a successful movie.** 

This portion constructs and exports a MySQL database using the IMDB data.

In [2]:
#Imports
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
import pymysql
pymysql.install_as_MySQLdb()

In [3]:
username = 'root'
password = 'root'
db_name = 'movies'
connection = f'mysql+pymysql://{username}:{password}@localhost/{db_name}' #format is  dialect+driver://username:password@host:port/database
engine = create_engine(connection) 
engine #to verify engine

Engine(mysql+pymysql://root:***@localhost/movies)

In [4]:
# Check if the database exists. If not, create it.
if database_exists(connection) == False:
  create_database(connection)
else:
  print('The database already exists')

The database already exists

In [6]:
#Load data
df = pd.read_csv('Data/tmdb_results_combined.csv.gz')
df_original = df
df.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.100,8.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.000,1.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.113,2102.0,PG

In [9]:
#Load other data
basics = pd.read_csv('Data/title.basics (1).tsv.gz')
#ratings = pd.read_csv('Data/title.ratings.tsv.gz')

basics.head()

ParserError: Error tokenizing data. C error: Expected 2 fields in line 4, saw 3

In [ ]:
#Creating empty dataframes
df = pd.DataFrame()